.tituloPrincipal {
   font-size: 22px;
   color: firebrick;
   font-weight: bold;
   background-color: rgb(255, 238, 0);
   display: inline;
   padding: 5px;

    }

    .main-lines,.main-lines-right {
        color:firebrick ;
    }

    .navbar {
        background-color:   rgb(255, 238, 0)!important;
        font-weight: bold;
    }
    .my-footer {
        color: firebrick;
        font-weight: bold;
        font-size: 19px;
        


    }